<!DOCTYPE html>
<!--https://stackoverflow.com/questions/30313314/django-how-to-include-javascript-in-template-->
<html lang="en">
<head>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
    <title>{% block title %}My LM-service{% endblock %}</title>
    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" href="{% static "vendor/fontawesome-free/css/all.min.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static "vendor/magnific-popup/magnific-popup.css" %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static "css/creative.min.css" %}">
</head></head>

<body id="page-top">
     {% load static %}
     <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
              <a class="navbar-brand js-scroll-trigger" href="/">LISTENING MIND</a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">Home</a>
                  </li>
                
                </ul>
              </div>
            </div>
          </nav>
           <header class="masthead text-center text-white d-flex">
            <div class="container my-auto">
              <div class="row">
                <div class="col-lg-10 mx-auto">
                  <h1 class="text-uppercase">
                    <strong>Expedia Monitoring</strong>
                  </h1>
                  <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
                  <p class="text-faded mb-5">키워드 150개 기준 약 15분 가량 소요됩니다. 한 줄에 단어 한개씩 입력하세요</p>
                  
                </div>
              </div>
            </div>
          </header>
      

    
</body>

</html>